body {
    padding-top: 50px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


.navbar-inverse {
    background-color: rgb(246, 246, 246);
    border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #000;
}

.row {
	margin-top: 2%;
}

#top-row {
	margin-top: 5%;
}



.jumbotron {
	margin-bottom: 0px;
}

footer {
	margin-top: 5%;
}

a.club:hover {
	filter: grayscale(100%); /* Standard CSS */
    -webkit-filter: grayscale(100%); /* CSS for Webkit Browsers */
    filter: url(/elements/grayscale.svg#desaturate); /* Firefox 4-34 */
    filter: gray;  /* Internet Explorer IE6-9 */
    -webkit-filter: grayscale(1); /* Old WebKit Browsers */
}









@media only screen and (max-width: 767px) {

#index {
	display: none;
}

}

@media screen and (min-width: 768px) {
	.jumbotron {
	    padding-top: 70px;
	    padding-bottom: 70px;
	}
}